// app global css in SCSS form

.index-background {
    background-image: url('../statics/images/carWallpaper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}